.vue-autocomplete-input {
  padding: 0px;
  padding-left: 1em*0.9;
  border-radius: 2px;
  border: 1px solid tw-colors('inputBorder');
  min-height: tw-input-sizes('medium');
  box-sizing: border-box;
  padding-right: 24px;
  background-size: 18px;
  background-position: right 4px center;
  background-repeat: no-repeat;
  width: 100%;
}

.vue-autocomplete-input-search {
  background-image: url('assets/images/icons/search.svg');
}

.vue-autocomplete {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    max-height: 500px;
    overflow-y: auto;
    z-index: 2001;
    display: none;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
    list-style: none;
    min-width: 300px;
    border: 1px solid tw-color('navigationBorder');
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: 2px solid tw-color('navigationBorder');

    @include themify($themes) {
      background-color: themed('backgroundPanelColor');
      border-color: themed('borderColor');
      border-bottom-color: themed('borderColor');
    }
  }

  .vue-autocomplete-item {
    cursor: pointer;
    padding: tw-whitespace('small');
    border-top: 1px solid tw-color('navigationBorder');

    @include themify($themes) {
      border-top-color: themed('borderColor');
    }
  }

  .active {
    background-color: tw-color('navigationBorder');

    @include themify($themes) {
      background-color: themed('hover');
    }
  }

}

.vue-autocomplete input:focus ~ ul {
  display: block;
}

.vue-autocomplete ul:hover {
  display: block;
}

.vue-autocomplete-empty-list {
  min-width: auto !important;
}