.context-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px;

  &> li:last-child:after {
    content: none;
  }

  &> li:first-child {
    padding-left: 0px;
  }

  &> li:last-child {
    border-right: none;
    padding-right: 0px;
    padding-left: tw-whitespace('default');
  }

  &> li {
    justify-content: center;
    padding-left: tw-whitespace('default');
    padding-right: tw-whitespace('default');
    border-right: 1px solid tw-color('navigationBorder');

    @include themify($themes) {
      border-right-color: themed('borderColor');
    }
  }

  &> li a {
    font-size: tw-font-sizes('small');
    text-decoration: none;
  }
}

.recent_updates  {
  max-width: 1080px;
  position: absolute;
  top: 45%;
  left: 50%;

  transform: translateX(-50%);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      width: 1040px;
      padding: 5px;
      border-bottom:1px solid tw-color('navigationBorder');
      text-align: right;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include themify($themes) {
        border-bottom-color: themed('borderColor');
      }
    }

    li:hover {
      background-color: tw-color('hover');
      opacity: 1 !important;
    }
    a {
      display: flex;
      align-items: center;
      text-align: left;
      text-decoration: none;
    }
    a:nth-child(2) {
      align-items: center;
      text-align: left;
      text-decoration: none;
      display: none;

    }    
  }
}

.dfn_bold {
  font-weight: 700;
}
