.navigation-controls {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  input[type="text"] {
    width:170px;
  }                    

  .navigation-item:first-child {
    border-left:none;
  }
  .navigation-item {
    border-bottom:1px solid tw-color('navigationBorder');
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position: relative;
    align-items: center;
    padding-top: tw-whitespace('default');
    padding-bottom: tw-whitespace('default');
    border-left: 1px solid tw-color('navigationBorder');
    text-align: center;
    a {
       text-decoration: none;
    }
    em:first-letter {
      text-transform: uppercase;
    }
    .dropdown {
      display: none;
      z-index: 100;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      position: absolute;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: #FFF; 
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3); 
      margin: 0px;  
      padding: 0px; 
      text-align: left; 

      li {
        margin: 0px;
        display: flex;
        flex-direction: row;
        a {
          width: 100%;
          height: 100%;
          display:block;
          font-weight: 500;
          padding: tw-whitespace('small');
          padding-left: tw-whitespace('default');
        }
      }
      li:hover {
        background-color: tw-color('hover');
        a {
          color: tw-color('backgroundColor');
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }

  .menu-drop {
    background-image: url("assets/images/icons/arrow-down.svg");
    background-position: 95%,center;
    background-repeat: no-repeat;
  }

  .menu-drop:hover {
    background-position: 95%,center;
    background-repeat: no-repeat;
  } 

  .navigation-item:hover {
    background-color: tw-color('hover');
    img {
      opacity: 1;
    }
    .dropdown {
      display: flex;
      background-color: #FFF;
    }
  }
}

  @media screen and (max-width: 980px) {
    .navigation-controls {
      flex-direction: column;
    }
  }