@import '../mixins/arrows.scss';

$header-color: #00796B;
$category-header-color: #004D40;
$default-padding: 2em;

.slide-panel {
  z-index: 1000;
  right: -400px;
  top: 0px;
  position: fixed;
  transition: all 0.5s ease;
  width: 400px;
  height: 100vh;
  background-color: #FFF;
  box-shadow: 0px 1px 2px 0px #888;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('textColor');
    box-shadow: none;
    border-left: 1px solid;
    border-left-color: themed('borderColor');
  }
  font-weight: tw-font-weight('normal');
  
  a {
    text-decoration: none;
  }


  .slide-panel-content {
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: calc(100vh - 60px) !important;
  }

  .slide-panel-header {
    width: auto;
    height: 60px;
    display: flex;
    font-size: tw-font-sizes('title');
    color: #FFF;
    align-items: center;
    padding-left: tw-whitespace('default');
    background-color: $header-color;
  }

  .slide-panel-category-item {
    display: flex;
    align-items: center;
  }

  .slide-panel-category-content {
    padding-left: tw-whitespace('default');
  }

  .slide-panel-category-header {
    padding: 0.8em;
    color: #828282;
    cursor: pointer;
    background-color: #F9F9F9;
    padding-left: tw-whitespace('large');
    border-left: 5px solid $category-header-color;
    background-image: url('assets/images/icons/arrow-down.svg');
    background-position: right 1em center;
    background-repeat: no-repeat;

    @include themify($themes) {
      background-color: themed('backgroundPanelColor');
      color: themed('textColor');
    }
  }

  .slide-panel-circle-icon {
    opacity: 0.4;
    width: 55px;
    height: 55px;
    position: absolute;
    cursor: pointer;
    left: -27px;
    top: 50vh;
    border-radius: 50%;
    background-color: $category-header-color;
    background-image: url('assets/images/icons/b_pin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: background-size 0.5s ease, opacity 0.3s ease;
  }

  .slide-panel-circle-icon:hover {
    opacity: 1;
    background-size: 30px;
    transition: background-size 0.3s ease, opacity 0.3s ease;
  }

  .slide-panel-description {
    @include arrow-box-right(50%);
    display: none;
    font-weight: tw-font-weight('normal');
    position: absolute;
    font-size: tw-font('small');
    white-space: nowrap;
    padding: tw-whitespace('small');
    background-color: tw-color('black');
    color: tw-color('white');
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    right: 70px;
    top: 13px;
    padding-left: tw-whitespace('medium');
    padding-right: tw-whitespace('medium');
    border-radius: 3px;
  }

}

.slide-panel-show {
  z-index:2103;
  right: 0px;
  transition: right 0.5s ease;
}

[data-panel-open="true"] .slide-panel-circle-icon {
  opacity: 1;
}

[data-panel-open="false"] .slide-panel-circle-icon:hover {
  opacity: 1;
  .slide-panel-description {
    display: block;
  }
}

.slide-pinboard {
  .empty-message {
    width: 100%;
    top: calc(50vh - 65px);
    position: absolute;
    text-align: center;
    .message {
      text-align: center;
      font-weight: 300;
      font-size: tw-whitespace('medium');
    }
  }
}

.slide-clipboard {
  .slide-panel-header {
    background-color: #004b77;
  }
  .slide-panel-circle-icon {
    top: calc(50vh + 65px);
    background-color: #004b77;
    background-image: url('assets/images/icons/paper-clips.svg');
  }
}

.slide-document {
  .slide-panel-header {
    background-color: #770000;
  }
  .slide-panel-circle-icon {
    top: calc(50vh - 65px);
    background-color: #770000;
    background-image: url('assets/images/icons/w_book.svg');
    z-index: 3;
  }
}


.slide-left {
  left: 0px;
  right: 0px;
  .slide-panel-circle-icon {
    left: auto;
    right: -27px;
  }
}


#pdfViewerContainer {
  @include themify($themes) {
    background-color: themed('backgroundPanelColor');
  }
}