.box-spinner {
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
  background-image: none !important;
  background-color: tw-color('backgroundPanel');
  z-index: 999999;
  height: 100%;

  &__legend {
    color: tw-color('textColor');
    text-align: center;

    @include themify($themes) {
      color: themed('textColor');
    }
  }

  @include themify($themes) {
    background-color: themed('backgroundPanelColor');
  }
}

.tw-spinner {
  font-size: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;

  svg {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0px auto;
  }
      #Tail {
        opacity: 0;
        animation: tail 2s ease infinite;
        fill:#41BA8D;

        @include themify($themes) {
          fill: themed('tailColor');
        }
      }
      #LeftBottom {
        fill:#00845D;
        opacity: 0;
        animation: spinner 1s ease alternate infinite;
        animation-delay: 0s;

        @include themify($themes) {
          fill: themed('LeftBottomColor');
        }
      }
      #LeftMid {
        fill:#28221B;
        opacity: 0;
        animation: spinner 1s ease alternate infinite;
        animation-delay: 0.2s;

        @include themify($themes) {
          fill: themed('LeftMidColor');
        }
      }
      #LeftTop {
        fill:#342D25;
        opacity: 0;
        animation: spinner 1s ease alternate infinite;
        animation-delay: 0.4s;

        @include themify($themes) {
          fill: themed('LeftTopColor');
        }
      }
      #Head {
        fill:#342D25;
        opacity: 0;
        animation: spinner 1s ease alternate infinite;
        animation-delay: 0.6s;

        @include themify($themes) {
          fill: themed('HeadColor');
        }
      }
    
    @keyframes spinner {
      0% { opacity: 0; }
      30% { opacity: 0; }
      90% { opacity: 1; }
      100% { opacity: 1; }
    }
    @keyframes tail {
      0% { opacity: 0; }
      30% { opacity: 1; }
      50% { opacity: 1; }
      90% { opacity: 0; }
      100% { opacity: 0; }
    }  
}
