#hub {
  @include themify($themes) {
    #filter {
      .navigation-controls-type {
        .navigation-item {
          border-color: themed('borderColor');
        }
      }

      .activated {
        background-color: themed('activeInput');
      }

      .status-name {
        color: themed('textColor');
        background-color: themed('backgroundInputColor');
        border-color: themed('borderColor');
      }

      .switch, .filter-category {
        border-color: themed('borderColor');
        color: themed('textColor');
        box-shadow: none;
        background-color: themed('backgroundInputColor');
      }

      .slider:before {
        border-color: themed('borderColor');
        background-color: themed('backgroundPanelColor');
      }
    }

    #hub_tabs {
      a:hover,
      .current_hub_category a {
        color: themed('textColor');
      }
    }
  }

  .filter-title {
    color: gray;
  }


  .filter-category-icon {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
  }


  .source {
    background-image: url("assets/images/icons/book.svg");

    @include themify($themes) {
      background-image: themed('iconSource');
    }
  }

  .collecting_event {
    background-image: url("assets/images/icons/geolocation.svg");

    @include themify($themes) {
      background-image: themed('iconCollectingEvent');
    }
  }

  .biology {
    background-image: url("assets/images/icons/biology.svg");

    @include themify($themes) {
      background-image: themed('iconBiology');
    }
  }

  .collection_object {
    background-image: url("assets/images/icons/picking.svg");

    @include themify($themes) {
      background-image: themed('iconCollectionObject');
    }
  }

  .matrix {
    background-image: url("assets/images/icons/matrix.svg");

    @include themify($themes) {
      background-image: themed('iconMatrix');
    }
  }

  .dna {
    background-image: url("assets/images/icons/helix.svg");

    @include themify($themes) {
      background-image: themed('iconDNA');
    }
  }

  .image {
    background-image: url("assets/images/icons/image.svg");

    @include themify($themes) {
      background-image: themed('iconImage');
    }
  }

  .taxon_name,
  .nomenclature {
    background-image: url("assets/images/icons/new.svg");

    @include themify($themes) {
      background-image: themed('iconNew');
    }
  }
}