#content_editor {
  box-sizing: border-box;
  #new-topic {
    textarea {
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }
  .otu_tag_taxon_name {
    border-radius: 3px;
  }

  .figures-container, .dropzone-card {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin: tw-whitespace('default');
    width: 270px;
    min-height: 300px;
    img {
      width: 270px;
      height: 180px;
    }
    .header {
      position: relative;
    }
    .figures-body {
      position: relative;
      margin-top: 2.5em;
      height: 120px;
      padding: tw-whitespace('default');
      padding-top: 0em;
      color: #444;
      overflow-y: scroll;
      textarea {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
      }
    }

    .figures-header {
      position: relative;

      .figures-label {
        background-color: #B7B7B7;
        font-size: tw-font-sizes('title');
        font-weight: 700;
        color: #FFF;
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        bottom: -23px;
        left: tw-whitespace('default');
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
      }

      .circle-button {
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
        margin: 0px;
      }

      .circle-button {
        width: 30px;
        height: 30px;
      }

      .figures-delete {
        position: absolute;
        top: 12px;
        right: 12px;
      }
      .figures-edit {
        position: absolute;
        bottom: -15px;
        right: 12px;
      }
    }
  }

  .button-select {
    width: 230px;
    height: 44px;
    font-size: 14px;
  }

  #clone-modal, #compare-modal {
    .modal-container {
      width: 70%;
    }
    font-size: 16px;
    li {
      cursor: pointer;
    }
    .clone-content-text {
      @include arrow-box-top(17px);
      display: none;
      position: absolute;
      padding: tw-whitespace('small');
      padding-left: tw-whitespace('default');
      padding-right: tw-whitespace('default');
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      left: -10px;
      top: 20px;
      white-space: pre;
      border-radius: 3px;
    }

    [data-icon="show"] {
      position: relative;
    }

    [data-icon="show"]:hover {
      .clone-content-text {
        z-index: 1200;
        display: flex;
      }
    }
  }

  .menu-content-editor {
    display: flex;
    flex-direction: row;
    margin: 0px;

    .menu-item {
      cursor: pointer;
      border-left: 1px solid tw-color('navigationBorder');
      border-bottom: 1px solid tw-color('navigationBorder');
      .big-icon {
        opacity: 0.8;
      }

      @include themify($themes) {
        border-bottom-color: themed('borderColor');
        border-left-color: themed('borderColor');
      }
    }
    .menu-item:last-child {
      border-right: 1px solid tw-color('navigationBorder');

      @include themify($themes) {
        border-right-color: themed('borderColor');
      }
    }
    .menu-item:hover {
      background-color: tw-color('hover');
    }

    .menu-button {
      padding: 12px;
      width: 100%;
    }

    .active {
      background-color: tw-color('active');
    }
  }

  #panel-editor {
    position: relative;
    display: flex;

    .left, .right {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .compare {
      margin: 0px;
      flex: 1;
      border: 1px solid tw-color('navigationBorder');
      border-top: none;
      font-size: 14px;
      padding: tw-whitespace('small');
      white-space: pre-wrap;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #F5F5F5;
      border-left: none;
      box-sizing: border-box;

      @include themify($themes) {
        background-color: themed('backgroundInputColor');
        border-color: themed('borderColor');
      }
    }
    .compare-toolbar {
      border: 1px solid tw-color('navigationBorder');
      border-left: none;
      height: 50px;
      padding: 0 10px;

      @include themify($themes) {
        border-color: themed('borderColor');
      }
    }
    .title {
      align-items: center;
      padding: 0px;
      color: #42b983;
      height: 60px;
    }
  }

  .citation-list {
    margin-top: tw-whitespace('small');
    padding: 0px;
    ul {
      margin: 0px;
      padding: 0px;
    }
    li {
      padding: tw-whitespace('small');
      padding-left: tw-whitespace('default');
      padding-right: tw-whitespace('default');
      border-bottom: 1px solid tw-color('navigationBorder');
    }
  }

  .saving {
    background-color: red;
  }

  #new-topic {
    min-width: 300px;
  }
}
