$font-prefix: '../../../node_modules/@ibm/plex';
@import 'node_modules/@ibm/plex/scss/sans/light/_latin1.scss';
@import 'node_modules/@ibm/plex/scss/sans/regular/_latin1.scss';
@import 'node_modules/@ibm/plex/scss/sans/medium/_latin1.scss';
@import 'node_modules/@ibm/plex/scss/sans/bold/_latin1.scss';
@import '@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

@import '../vue/assets/styles/variables/_palette.scss';
@import '../vue/assets/styles/variables/_sizes.scss';
@import '../vue/assets/styles/variables/_whitespace.scss';
@import '../vue/assets/styles/variables/_exports.scss';
@import '../vue/assets/styles/utils/functions.scss';
@import '../vue/assets/styles/themes/themes_base.scss';

@import '../vue/assets/styles/components/buttons.scss';
@import '../vue/assets/styles/components/autocomplete.scss';
@import '../vue/assets/styles/components/basis.scss';
@import '../vue/assets/styles/components/dropzone.scss';
@import '../vue/assets/styles/components/slide_panels.scss';
@import '../vue/assets/styles/components/pinboard/pinboard_items.scss';
@import '../vue/assets/styles/components/lists.scss';
@import '../vue/assets/styles/components/table.scss';
@import '../vue/assets/styles/components/modal.scss';
@import '../vue/assets/styles/components/menu.scss';
@import '../vue/assets/styles/components/spinner.scss';
@import '../vue/assets/styles/components/icons.scss';
@import '../vue/assets/styles/components/panels.scss';
@import '../vue/assets/styles/components/text.scss';
@import '../vue/assets/styles/components/switch.scss';

@import '../vue/assets/styles/views/hub/filter.scss';
@import '../vue/assets/styles/views/hub/hub.scss';
@import '../vue/assets/styles/views/hub/cards.scss';
@import '../vue/assets/styles/views/hub/tasks.scss';
@import '../vue/assets/styles/views/sessions/login.scss';
@import '../vue/assets/styles/views/tasks/content/editor/index.scss';
@import '../vue/assets/styles/views/tasks/matrices/observation_matrices.scss';
@import '../vue/assets/styles/views/tasks/matrices/image.scss';

@import '../vue/assets/styles/filter.scss';
@import '../vue/assets/styles/labels.scss';
