@import '../mixins/themify.scss';

body {

  @include themify($themes) {
    color-scheme: dark;
    color: themed('textColor');  
    background-color: themed('backgroundColor');
    
    .radial-annotator {
      color: themed('textColor');
    }
    table {
      .even {
        background-color: themed('backgroundPanelColor');
      }

      .contextMenuCells td {
        border-bottom-color: themed('borderColor');
        border-left-color: themed('borderColor');
      }
    }

    .action-line {
      border-bottom-color: themed('borderColor');
    }

    #model_index {
      background-color: themed('backgroundPanelColor');
    }

    .navigation-controls {
      .navigation-item {
        border-color: themed('borderColor');

        .dropdown {
          background-color: themed('backgroundPanelColor');
        }
      }
      .navigation-item:hover {
        background-color: themed('hover');
      }
    }

    .circle-button {
      box-shadow: themed('boxShadowButton');
    }

    .table-entrys-list li {
      border-top-color: themed('borderColor');
    }

    .block-layout {
      &> .header {
        border-bottom-color: themed('borderColor');
      }
    }

    .current_hub_category a {
      color: themed('textColor');
    }
    // New taxon name 

    .original-combination {
      .combination {
        background-color: themed('backgroundInputColor');
        color: themed('textColor');
        border-color: themed('borderColor');
      }
    }
  }
}
