$themes: (
  dark: (
    backgroundColor: #1c2128,
    textColor: #adbac7,
    quickBarColor: #2d333b,
    backgroundPanelColor: #2d333b,
    backgroundInputColor: #1c2128,
    borderColor: #444c56,
    boxShadowButton: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    hover: #2d333b,
    activeInput: #2d3b2d
  )
);
