$themes: (
  dark: (
    backgroundColor: #1c2128,
    textColor: #adbac7,
    quickBarColor: #2d333b,
    backgroundPanelColor: #2d333b,
    backgroundInputColor: #1c2128,
    borderColor: #444c56,
    boxShadowButton: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    hover: rgba(65, 132, 228, 15%),
    activeInput: rgba(65, 132, 228, 15%),
    linkColor: #539bf5,

    rowEven: #2d333b,
    rowOdd: #1c2128,

    //Spinner

    tailColor: #41BA8D,
    LeftBottomColor: #00845D,
    LeftMidColor: #999999,
    LeftTopColor: #c9c9c9,
    HeadColor: #f5f5f5,

    //Icons

    iconBiology: url("assets/images/icons/w_biology.svg"),
    iconNew: url("assets/images/icons/w_new.svg"),
    iconSource: url("assets/images/icons/w_book.svg"),
    iconMatrix: url("assets/images/icons/w_matrix.svg"),
    iconDNA: url("assets/images/icons/w_helix.svg"),
    iconCollectingEvent: url("assets/images/icons/w_geolocation.svg"),
    iconCollectionObject: url("assets/images/icons/w_picking.svg"),
    iconImage: url("assets/images/icons/w_image.svg"),
    iconTrash: url("assets/images/icons/w_trash.svg"),

    iconArrowUp: url("assets/images/icons/w_arrow_up.svg"),
    iconArrowDown: url("assets/images/icons/w_arrow_down.svg"),
    iconArrowLeft: url("assets/images/icons/w_arrow_left.svg"),
    iconArrowRight: url("assets/images/icons/w_arrow_right.svg"),
    iconRestart: url("assets/images/icons/w_restart.svg"),
    iconShow: url("assets/images/icons/w_show.svg"),
    iconHide: url("assets/images/icons/w_hide.svg"),
    iconOptions: url("assets/images/icons/w_options.svg"),
    iconFolders: url("assets/images/icons/w_folders.svg"),
    iconData: url("assets/images/icons/w_data.svg"),
    iconDownload: url("assets/images/icons/w_download.svg"),
    iconList: url("assets/images/icons/w_list.svg"),
    iconOpenFolder: url("assets/images/icons/w_open_folder.svg"),
    iconTask: url("assets/images/icons/w_task.svg"),
    iconAnnotate: url("assets/images/icons/w_annotate.svg"),
    iconAdd: url("assets/images/icons/w_add.svg"),
    iconExpand: url("assets/images/icons/w_expand.svg"),
    iconContract: url("assets/images/icons/w_contract.svg"),
    iconClone: url("assets/images/icons/w_citation.svg"),
    iconCompare: url("assets/images/icons/w_citation.svg"),
    iconSaveDB: url("assets/images/icons/w_savedb.svg"),
    iconCitation: url("assets/images/icons/w_citation.svg")
  )
);
