$themes: (
  dark: (
    backgroundColor: #1c2128,
    textColor: #adbac7,
    quickBarColor: #2d333b,
    backgroundPanelColor: #2d333b,
    backgroundInputColor: #1c2128,
    borderColor: #444c56,
    boxShadowButton: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    hover: rgba(65, 132, 228, 15%),
    activeInput: rgba(65, 132, 228, 15%),

    rowEven: #2d333b,
    rowOdd: #1c2128,

    iconBiology: "assets/images/icons/w_biology.svg",
    iconNomenclature: "assets/images/icons/w_new.svg",
    iconSource: "assets/images/icons/w_book.svg",
    iconMatrix: "assets/images/icons/w_matrix.svg",
    iconDNA: "assets/images/icons/w_helix.svg",
    iconCollectingEvent: "assets/images/icons/w_geolocation.svg",
    iconCollectionObject: "assets/images/icons/w_picking.svg",
    iconImage: "assets/images/icons/w_image.svg",
  )
);
