$tw-input-sizes: (
  'xSmall': '12px',
  'small': '16px',
  'default': '24px',
  'medium': '28px',
  'large': '36px',
  'xLarge': '40px'
);

$tw-font-sizes: (
  tiny: 11px,
  small: 12px,
  normal: 13px,
  subtitle: 14px,
  title: 16px,
);

$tw-font-weight: (
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);

:export {
  @each $key, $value in $tw-input-sizes {
    #{unquote($key)}: #{$value};
  }
}